.home__container{
    padding:1rem 4rem;
}

.home__container h1{
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;

}
